/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */



p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0 5%;
    /*display: inline-block;
    max-width: 100%;
    width: 100%;*/
    /* height: 100vh; */
}

#page-video{
    width: 60%;
    float: left;
    text-align: center;
}
.waldorf-info{
    text-align: left;
}

#index-container{
    width: 35%;
    float: right;
    max-height: 80vh;
    padding: 1em;
    border: 2px solid black;
    overflow: scroll;
}

#index-container h4{
    text-align: center;
    margin: .2em;
}
.waldorf-index ul{
    padding-left: 0;
}
.waldorf-index li{
    list-style: none;
    border-bottom: 1px solid black;
    padding: .5em 0;
}
.waldorf-index a{
    font-weight: bold;
}
.waldorf-index p{
    margin: 0;
}

#header{
    background-color: #333;
    color: #CCC;
    top: 0;
    left: 0;
}

#branding{
    margin: 1em auto;
    width: 200px;
    display: block;
}

#title{
    float: left;
    height: 5vh;
    text-align: left;
    font-size: 4vh;
    margin: 0;
    padding: 1vh 2vw;
    text-transform: uppercase;
    letter-spacing: .15em;
}

#login-box{
    margin-top: 1em;
    float: right;
}

.waldorf-container{
    /* border: 2px solid black !important; */
}

.waldorf-info{
    background: none !important;
}

.waldorf-body p{
    margin-left: 1em !important;
}
/*.annotation-tags{
    font-style: italic;
}*/
.waldorf-tags .waldorf-label, .waldorf-text .waldorf-label{
    font-style: normal;
    font-weight: bold;
}
.waldorf-attribution, .waldorf-time{
    display: none;
}









/* ==========================================================================
   Media Queries
   ========================================================================== */

/* @media only screen and (min-width: 35em) {
    body{
        margin: 0;
        padding: 0;
        margin-top: -1.4em;
    }
    #branding{
        margin: 1em 1em;
        display: inline-block;
        width: 200px;
        float: left;
    }
    h1{
        text-align: right;
        margin-right: 2em;
        line-height: 140px;
    }
    #demo-body{
        max-width: 700px;
    }

} */

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}